<mat-dialog-content>
  <h2 mat-dialog-title class="mb-4">Request #{{ serviceRequest.id }}</h2>

  <div class="mb-2">
    <span class="mb-0">Title: </span>
    <span class="fw-medium mb-0">{{ serviceRequest.title }}</span>
  </div>

  <div class="mb-2">
    <span class="mb-0">Description: </span>
    <span class="fw-medium mb-0">{{ serviceRequest.description }}</span>
  </div>

  <div class="mb-2">
    <span class="mb-0">Equipment: </span>
    <span class="fw-medium mb-0">{{ serviceRequest.equipment.manufacturer + ' ' + serviceRequest.equipment.model + ' (' + serviceRequest.equipment.inventoryNumber + ')' }}</span>
  </div>

  <div class="mb-2">
    <span class="mb-0">Reported by: </span>
    <span class="fw-medium mb-0">{{ serviceRequest.user.firstName + ' ' + serviceRequest.user.lastName }}</span>
  </div>

  <div class="mb-2">
    <span class="mb-0">Reported date: </span>
    <span class="fw-medium mb-0">{{ serviceRequest.createdDate | date: 'dd-MM-yyyy HH:mm' }}</span>
  </div>

  <div class="mb-2">
    <span class="mb-0">Status: </span>
    <span [ngClass]="getStatusClass(serviceRequest.status)">{{ serviceRequest.status | serviceRequestStatusDisplay }}</span>
  </div>

  @if (serviceRequest.closeInfo) {
    <div class="mb-2">
      <span class="mb-0">Closing information: </span>
      <span class="fw-medium mb-0">{{ serviceRequest.closeInfo }}</span>
    </div>
  }
</mat-dialog-content>

<mat-dialog-actions class="mt-4" align="end">
  <button mat-button mat-dialog-close>Close</button>
  @if (serviceRequest.status === ServiceRequestStatusEnum.NEW) {
    <button mat-stroked-button (click)="cancelServiceRequest()" class="delete-button">Cancel service request</button>
  }
</mat-dialog-actions>
