<div class="form-container">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <h5 class="text-center">{{ isEditMode ? 'Edit user' : 'Add new user' }}</h5>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>First name</mat-label>
      <input matInput formControlName="firstName" required />
      @if (userForm.controls['firstName'].hasError('required')) {
        <mat-error>First name is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Last name</mat-label>
      <input matInput formControlName="lastName" required />
      @if (userForm.controls['lastName'].hasError('required')) {
        <mat-error>Last name is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" required />
      @if (userForm.controls['username'].hasError('required')) {
        <mat-error>Username is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" required />
      @if (userForm.controls['email'].hasError('required')) {
        <mat-error>Email is required</mat-error>
      }
      @if (userForm.controls['email'].hasError('email')) {
        <mat-error>Email address must be in correct format, ex. johndoe&#x40;mail.com</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Phone number</mat-label>
      <input matInput formControlName="phoneNumber" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Roles</mat-label>
      <mat-select formControlName="roles" multiple required>
        @for (role of roles; track role) {
          <mat-option [value]="role.name">{{ role.name | roleDisplay }}</mat-option>
        }
      </mat-select>
      @if (userForm.controls['roles'].hasError('required')) {
        <mat-error>At least one role is required</mat-error>
      }
    </mat-form-field>

    @if (!isEditMode) {
      <mat-form-field appearance="outline" class="form-field">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required>
      @if (userForm.controls['password'].hasError('required')) {
        <mat-error>Password is required</mat-error>
      }
      @if (userForm.controls['password'].hasError('minlength')) {
        <mat-error>Password must contain at least 8 characters</mat-error>
      }
    </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Repeat password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" required>
        @if (userForm.controls['confirmPassword'].hasError('required')) {
          <mat-error>Required field</mat-error>
        }
        @if (userForm.controls['confirmPassword'].hasError('passwordMismatch')) {
          <mat-error>Passwords must match</mat-error>
        }
      </mat-form-field>
    }


    <button mat-flat-button type="submit" class="w-100" [disabled]="userForm.invalid">
      <i class="bi bi-floppy-fill"></i>
      Save
    </button>


  </form>
  <button mat-stroked-button (click)="goBack()">
    <i class="bi bi-arrow-left"></i>
    Back
  </button>
</div>
