<div class="form-container">
  <form [formGroup]="equipmentForm" (ngSubmit)="onSubmit()">
    <h5 class="text-center">{{ isEditMode ? 'Edit equipment' : 'Add new equipment' }}</h5>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Manufacturer</mat-label>
      <input matInput formControlName="manufacturer" required />
      @if (equipmentForm.controls['manufacturer'].hasError('required')) {
        <mat-error>Manufacturer is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Model</mat-label>
      <input matInput formControlName="model" required />
      @if (equipmentForm.controls['model'].hasError('required')) {
        <mat-error>Model is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Inventory number</mat-label>
      <input matInput formControlName="inventoryNumber" required />
      @if (equipmentForm.controls['inventoryNumber'].hasError('required')) {
        <mat-error>Inventory number is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Serial number</mat-label>
      <input matInput formControlName="serialNumber" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Type</mat-label>
      <mat-select formControlName="typeId" required>
        <mat-option *ngFor="let type of equipmentTypeList" [value]="type.id">
          {{ type.name }}
        </mat-option>
      </mat-select>
      @if (equipmentForm.controls['typeId'].hasError('required')) {
        <mat-error>Equipment type is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Address</mat-label>
      <mat-select formControlName="addressId">
        <mat-option *ngFor="let address of addressList" [value]="address.id">
          {{ address.description + ' (' + address.street + ' ' + address.number + ', ' + address.postalCode + ' ' + address.city + ')' }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Location</mat-label>
      <input matInput formControlName="location" />
    </mat-form-field>

    <mat-form-field *ngIf="this.isEditMode" appearance="outline" class="form-field">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status" required>
        <mat-option *ngFor="let status of statuses" [value]="status">
          {{ status | equipmentStatusDisplay }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Purchase date</mat-label>
      <input matInput [matDatepicker]="purchaseDatePicker" formControlName="purchaseDate" />
      <mat-datepicker-toggle matSuffix [for]="purchaseDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #purchaseDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Warranty until</mat-label>
      <input matInput [matDatepicker]="warrantyDatePicker" formControlName="warrantyUntil" />
      <mat-datepicker-toggle matSuffix [for]="warrantyDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #warrantyDatePicker></mat-datepicker>
    </mat-form-field>

    <button mat-flat-button type="submit" class="w-100" [disabled]="equipmentForm.invalid">
      <i class="bi bi-floppy-fill"></i>
      Save
    </button>


  </form>
  <button mat-stroked-button (click)="goBack()">
    <i class="bi bi-arrow-left"></i>
    Cancel
  </button>
</div>
