<h5 *ngIf="!showAll && showPending">Nowe przekazania do akceptacji</h5>
<h5 *ngIf="showAll && !showPending">Rejestr przekazań</h5>
<h5 *ngIf="!showAll && !showPending">Moje przekazania</h5>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="transfers" matSort (matSortChange)="onSortChange()" class="mat-table">

    <ng-container matColumnDef="requestDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Data utworzenia</th>
      <td mat-cell *matCellDef="let transfer"> {{ transfer.requestDate }}</td>
    </ng-container>

    <ng-container matColumnDef="decisionDate" *ngIf="showAll || !showPending">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Data akceptacji/odrzucenia</th>
      <td mat-cell *matCellDef="let transfer"> {{ transfer.decisionDate }}</td>
    </ng-container>

    <ng-container matColumnDef="equipment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Sprzęt</th>
      <td mat-cell *matCellDef="let transfer"> {{ transfer.equipment.manufacturer + ' ' + transfer.equipment.model + ' (' + transfer.equipment.inventoryNumber + ')' }}</td>
    </ng-container>

    <ng-container matColumnDef="transferor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Osoba przekazująca</th>
      <td mat-cell *matCellDef="let transfer"> {{ transfer.transferor.firstName + ' ' + transfer.transferor.lastName }}</td>
    </ng-container>

    <ng-container matColumnDef="obtainer" *ngIf="showAll || !showPending">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Osoba docelowa</th>
      <td mat-cell *matCellDef="let transfer"> {{ transfer.obtainer.firstName + ' ' + transfer.obtainer.lastName }}</td>
    </ng-container>

    <ng-container matColumnDef="status" *ngIf="showAll || !showPending">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
      <td mat-cell *matCellDef="let transfer">
        <div [ngClass]="getStatusClass(transfer.status)">
          {{ transfer.status | transferStatusDisplay }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let transfer">
        <button mat-button (click)="accept(transfer.id, transfer.equipment.id)">Zaakceptuj</button>
        <button mat-button (click)="reject(transfer.id)">Odrzuć</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row class="clickable-row" *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell text-center p-4" [attr.colspan]="displayedColumns.length">
        <div class="alert alert-warning d-inline-block w-100 mb-0">
          Brak danych do wyświetlenia
        </div>
      </td>
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10, 25, 50]"
    (page)="onPageChange($event)"
    [pageSize]="pageSize"
    [length]="length"
    showFirstLastButtons
  ></mat-paginator>
</div>

<div class="mt-4">
  <button mat-stroked-button *ngIf="!showAll" [routerLink]="!showAll && !showPending ? '/my-transfers' : '/'">
    <i class="bi bi-arrow-left"></i>
    Wróć
  </button>
  <button mat-flat-button class="ms-4" *ngIf="!showAll && showPending" routerLink="/my-transfers/all">
    <i class="bi bi-list"></i>
    Pokaż wszystkie przekazania
  </button>
</div>
