.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: #e3e3e3;
}

.status-badge {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 28px;
  color: #fff;
  white-space: nowrap;
}

.status-new {
  background-color: #28A745;
}

.status-in-preparation {
  background-color: #E57D23;
}

.status-in-use {
  background-color: #2879B7;
}

.status-in-repair {
  background-color: #D93A0C;
}

.status-reserve {
  background-color: #8E8E8E;
}

.status-decommissioned {
  background-color: #4A7379;
}
