<h5>{{ showAllEquipment ? 'Rejestr sprzętu' : 'Mój sprzęt' }}</h5>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="equipment" matSort (matSortChange)="onSortChange()" class="mat-table">

    <ng-container matColumnDef="manufacturer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Producent</th>
      <td mat-cell *matCellDef="let equipment"> {{ equipment.manufacturer }}</td>
    </ng-container>

    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Model</th>
      <td mat-cell *matCellDef="let equipment"> {{ equipment.model }}</td>
    </ng-container>

    <ng-container matColumnDef="inventoryNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Numer inwentarzowy</th>
      <td mat-cell *matCellDef="let equipment"> {{ equipment.inventoryNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="serialNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Numer seryjny</th>
      <td mat-cell *matCellDef="let equipment"> {{ equipment.serialNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let equipment"> {{ equipment.status | equipmentStatusDisplay }}</td>
    </ng-container>

    <ng-container *ngIf="showAllEquipment" matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Użytkownik</th>
      <td mat-cell *matCellDef="let equipment"> {{ equipment.user ? equipment.user?.firstName + ' ' + equipment.user?.lastName : '' }}</td>
    </ng-container>

    <ng-container matColumnDef="purchaseDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Data zakupu</th>
      <td mat-cell *matCellDef="let equipment"> {{ equipment.purchaseDate }}</td>
    </ng-container>

    <ng-container matColumnDef="warrantyUntil">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Gwarancja do</th>
      <td mat-cell *matCellDef="let equipment"> {{ equipment.warrantyUntil }}</td>
    </ng-container>

    <ng-container *ngIf="showAllEquipment" matColumnDef="withdrawalDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Data wycofania</th>
      <td mat-cell *matCellDef="let equipment"> {{ equipment.withdrawalDate }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row class="clickable-row" *matRowDef="let row; columns: displayedColumns;"
        (click)="goToDetails(row.id)"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell text-center p-4" [attr.colspan]="displayedColumns.length">
        <div class="alert alert-warning d-inline-block w-100 mb-0">
          Brak danych do wyświetlenia
        </div>
      </td>
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10, 25, 50]"
    (page)="onPageChange($event)"
    [pageSize]="pageSize"
    [length]="length"
    showFirstLastButtons
  ></mat-paginator>
</div>

<div class="mt-4" *ngIf="showAllEquipment">
  <button mat-flat-button routerLink="/equipment/new">
    <i class="bi bi-plus-lg"></i>
    Dodaj sprzęt
  </button>
</div>
