<mat-dialog-content class="text-center">
  <h2 mat-dialog-title class="mb-4">Choose user</h2>

  <form>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Assigned user</mat-label>
      <mat-select [formControl]="user">
        @for (user of userList; track user.id) {
          <mat-option [value]="user.id">
            {{ user.firstName + ' ' + user.lastName + ' (' + user.username + ')' }}
          </mat-option>
        }
      </mat-select>
      @if (user.hasError('required')) {
        <mat-error>Required field</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="mt-2" align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button (click)="onSubmit()" [disabled]="user.invalid">
    <i class="bi bi-check-lg"></i>
    Save
  </button>
</mat-dialog-actions>
