<div class="container mt-4">
  <h5>Equipment details</h5>

  <table class="table table-bordered table-striped mat-elevation-z8">
    <tbody>
    <tr>
      <td>Manufacturer:</td>
      <td>{{ equipment.manufacturer }}</td>
    </tr>
    <tr>
      <td>Model:</td>
      <td>{{ equipment.model }}</td>
    </tr>
    <tr>
      <td>Description:</td>
      <td>{{ equipment.description }}</td>
    </tr>
    <tr>
      <td>Type:</td>
      <td>{{ equipment.type?.name }}</td>
    </tr>
    <tr>
      <td>Inventory number:</td>
      <td>{{ equipment.inventoryNumber }}</td>
    </tr>
    <tr>
      <td>Serial number:</td>
      <td>{{ equipment.serialNumber }}</td>
    </tr>
    <tr>
      <td>Status:</td>
      <td class="p-1">
        <div [ngClass]="getStatusClass(equipment.status)">
          {{ equipment.status | equipmentStatusDisplay }}
        </div>
      </td>
    </tr>
    <tr>
      <td>User:</td>
      <td>{{ equipment.user ? equipment.user.firstName + ' ' + equipment.user.lastName + ' (' + equipment.user.username + ')' : '' }}</td>
    </tr>
    <tr>
      <td>Address:</td>
      <td>
        {{ equipment.address ? equipment.address.street + ' ' + equipment.address.number + ', ' + equipment.address.postalCode + ' ' + equipment.address.city : '' }}
      </td>
    </tr>
    <tr>
      <td>Location:</td>
      <td>
        {{ equipment.location }}
      </td>
    </tr>
    <tr>
      <td>Purchase date:</td>
      <td>{{ equipment.purchaseDate | date: 'dd.MM.yyyy' }}</td>
    </tr>
    <tr>
      <td>Warranty until:</td>
      <td>{{ equipment.warrantyUntil | date: 'dd.MM.yyyy' }}</td>
    </tr>
    <tr>
      <td>Withdrawal date:</td>
      <td>{{ equipment.withdrawalDate }}</td>
    </tr>
    <tr>
      <td>Created by:</td>
      <td>{{ equipment.createdBy }}</td>
    </tr>
    <tr>
      <td>Created at:</td>
      <td>{{ equipment.createdDate | date: 'dd-MM-yyyy HH:mm' }}</td>
    </tr>
    <tr>
      <td>Last modified by:</td>
      <td>{{ equipment.lastModifiedBy }}</td>
    </tr>
    <tr>
      <td>Last modified at:</td>
      <td>{{ equipment.lastModifiedDate | date: 'dd-MM-yyyy HH:mm' }}</td>
    </tr>
    </tbody>
  </table>

  <div class="mt-4">
    <button mat-stroked-button (click)="openHistoryDialog()" class="me-2">
      <i class="bi bi-clock-history"></i>
      History
    </button>
    @if (canTransfer()) {
      <button mat-stroked-button (click)="transfer()" class="me-2">
        <i class="bi bi-arrow-left-right"></i>
        Transfer
      </button>
    }
    <button mat-stroked-button (click)="goToServiceRequests()" class="me-2">
      <i class="bi bi-tools"></i>
      Service requests
    </button>
    <button mat-stroked-button *appHasAnyRole="['ROLE_ADMIN', 'ROLE_MANAGER']" (click)="decommission()">
      <i class="bi bi-x-square"></i>
      Withdraw from use
    </button>
  </div>

  <div class="mt-4">
    <button mat-flat-button (click)="goBack()" class="me-4">
      <i class="bi bi-arrow-left"></i>
      Back
    </button>
    <button mat-flat-button *appHasAnyRole="['ROLE_ADMIN', 'ROLE_MANAGER']" (click)="edit()">
      <i class="bi bi-pencil-square"></i>
      Edit
    </button>
  </div>
</div>
