/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap' as *;
@use "bootstrap-icons/font/bootstrap-icons.css" as *;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-snack-bar-container {
  --mdc-snackbar-supporting-text-color: #ffffff;
  --mat-snack-bar-button-color: #ffffff;

  &.app-notification-error {
    --mdc-snackbar-container-color: #d0271f;
  }

  &.app-notification-success {
    --mdc-snackbar-container-color: #43a446;
  }
}

.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: #e3e3e3;
}

.delete-button {
  color: #d0271f !important;
}

/* Status badges styling */
.status-badge {
  display: inline-block;
  padding: 3px 9px;
  border-radius: 28px;
  color: #fff;
  white-space: nowrap;

  // User statuses
  &.active {
    background-color: #198754;
    border: 1px solid #146c43;
    color: #e5f4ed;
  }
  &.inactive {
    background-color: #dc3545;
    border: 1px solid #a71d2a;
    color: #f6eded;
  }

  // Equipment statuses
  &.eq-new {
    background-color: #198754;
    border: 1px solid #146c43;
    color: #e5f4ed;
  }
  &.eq-in-preparation {
    background-color: #ffc107;
    border: 1px solid #cc9a06;
    color: #3e3003;
  }
  &.eq-in-use {
    background-color: #17a2b8;
    border: 1px solid #117a8b;
    color: #edf7fa;
  }
  &.eq-in-repair {
    background-color: #fd7e14;
    border: 1px solid #cc650f;
    color: #3a1e06;
  }
  &.eq-reserve {
    background-color: #20c997;
    border: 1px solid #159c7e;
    color: #06271d;
  }
  &.eq-decommissioned {
    background-color: #495057;
    border: 1px solid #343a40;
    color: #f4f5f6;
  }

  // Transfer statuses
  &.tr-accepted {
    background-color: #198754;
    border: 1px solid #146c43;
    color: #e5f4ed;
  }
  &.tr-pending {
    background-color: #ffc107;
    border: 1px solid #cc9a06;
    color: #3e3003;
  }
  &.tr-rejected {
    background-color: #dc3545;
    border: 1px solid #a71d2a;
    color: #f6eded;
  }

  // Service request statuses
  &.sr-new {
    background-color: #005cbb;
    border: 1px solid #083d8f;
    color: #eef1f8;
  }
  &.sr-accepted {
    background-color: #20c997;
    border: 1px solid #159c7e;
    color: #06271d;
  }
  &.sr-in-progress {
    background-color: #ffc107;
    border: 1px solid #cc9a06;
    color: #3e3003;
  }
  &.sr-cancelled {
    background-color: #adb5bd;
    border: 1px solid #777f88;
    color: #191a1c;
  }
  &.sr-closed {
    background-color: #198754;
    border: 1px solid #146c43;
    color: #e5f4ed;
  }
}
