<mat-dialog-content class="text-center">
  <h2 mat-dialog-title class="mb-4">{{ this.isEditMode ? 'Edytuj typ sprzętu' : 'Dodaj nowy typ' }}</h2>

  <form [formGroup]="typeForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Nazwa</mat-label>
      <input matInput formControlName="name" required>
      <mat-error *ngIf="typeForm.controls['name'].hasError('required')">Pole wymagane</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Opis</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="mt-4" align="end">
  <button mat-button mat-dialog-close>Anuluj</button>
  <button mat-flat-button (click)="onSubmit()" [disabled]="typeForm.invalid">
    <i class="bi bi-check-lg"></i>
    Zapisz
  </button>
</mat-dialog-actions>
