<mat-dialog-content xmlns="http://www.w3.org/1999/html">
  <h2 mat-dialog-title class="mb-4">Note details</h2>

  <form [formGroup]="noteForm">
    <mat-form-field appearance="outline" class="form-field w-100">
      <mat-label>Content</mat-label>
      <textarea matInput rows="8" formControlName="description" [readonly]="!isOwner" required maxlength="255"></textarea>
      @if (noteForm.controls['description'].hasError('required')) {
        <mat-error>Required field</mat-error>
      }
      @if (noteForm.controls['description'].hasError('maxlength')) {
        <mat-error>Max 255 characters</mat-error>
      }
    </mat-form-field>
  </form>

  <div class="mb-2">
    <p class="d-inline-block me-1">Created by: </p>
    <p class="d-inline-block fw-medium">{{ note.createdBy }}</p>
  </div>

  <div class="mb-2">
    <p class="d-inline-block me-1">Created at: </p>
    <p class="d-inline-block fw-medium">{{ note.createdDate | date:'dd-MM-yyyy HH:mm:ss' }}</p>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  @if (isOwner) {
    <button mat-flat-button (click)="updateNote()">Save</button>
    <button mat-flat-button (click)="deleteNote()" class="delete-button">Delete</button>
  }
</mat-dialog-actions>
