<mat-dialog-content class="text-center">
  <h2 mat-dialog-title class="mb-4">Create a service request</h2>

  <div class="mb-4">
    <span class="mb-0">Equipment: </span>
    <span class="fw-medium mb-0">{{ equipment.manufacturer + ' ' + equipment.model + ' (' + equipment.inventoryNumber + ')' }}</span>
  </div>

  <form [formGroup]="serviceRequestForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Topic</mat-label>
      <input matInput formControlName="title" required>
      @if (serviceRequestForm.controls['title'].hasError('required')) {
        <mat-error>Topic is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" rows="5"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="mt-4" align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button (click)="onSubmit()" [disabled]="serviceRequestForm.invalid">
    <i class="bi bi-check-lg"></i>
    Create
  </button>
</mat-dialog-actions>
