<h5>Service requests</h5>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="serviceRequests" matSort (matSortChange)="onSortChange()" class="mat-table">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let request"> {{ request.id }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Topic</th>
      <td mat-cell *matCellDef="let request"> {{ request.title }}</td>
    </ng-container>

    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Reported by</th>
      <td mat-cell *matCellDef="let request"> {{ request.user?.firstName + ' ' + request.user?.lastName }}</td>
    </ng-container>

    @if (!this.equipmentId) {
      <ng-container matColumnDef="technician">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Assigned to</th>
        <td mat-cell *matCellDef="let request"> {{ request.technician ? request.technician.firstName + ' ' + request.technician.lastName : '' }}</td>
      </ng-container>
    }

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let request">
        <div [ngClass]="getStatusClass(request.status)">
          {{ request.status | serviceRequestStatusDisplay }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Reported date</th>
      <td mat-cell *matCellDef="let request"> {{ request.createdDate | date: 'dd-MM-yyyy HH:mm' }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        class="clickable-row"
        tabindex="0"
        (click)="goToDetails(row.id)"
        (keydown.enter)="goToDetails(row.id)"
        (keydown.space)="goToDetails(row.id)"
        *matRowDef="let row; columns: displayedColumns;">
    </tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell text-center p-4" [attr.colspan]="displayedColumns.length">
        <div class="alert alert-warning d-inline-block w-100 mb-0">
          Not found
        </div>
      </td>
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10, 25, 50]"
    (page)="onPageChange($event)"
    [pageSize]="pageSize"
    [length]="length"
    showFirstLastButtons
  ></mat-paginator>
</div>

<div class="mt-4">
  @if (this.equipmentId) {
    <button mat-stroked-button class="me-4" (click)="goBack()">
      <i class="bi bi-arrow-left"></i>
      Back
    </button>
  }
  @if (this.equipmentId) {
    <button mat-flat-button class="me-4" (click)="openServiceRequestForm()">
      <i class="bi bi-tools"></i>
      Create service request
    </button>
  } @else {
    <button mat-flat-button (click)="toggleShowAll()">
      <i class="bi bi-list"></i>
      {{ showAll ? 'Hide closed requests' : 'Show all requests' }}
    </button>
  }
</div>
