<div class="user-profile-container">
  <h5 class="text-center mb-5">Mój profil</h5>

  <p class="m-0">Imię:</p>
  <mat-form-field appearance="fill">
    <input class="profile-field" matInput [value]="user.firstName" disabled>
  </mat-form-field>

  <p class="m-0">Nazwisko:</p>
  <mat-form-field appearance="fill">
    <input class="profile-field" matInput [value]="user.lastName" disabled>
  </mat-form-field>

  <p class="m-0">Nazwa użytkownika:</p>
  <mat-form-field appearance="fill">
    <input class="profile-field" matInput [value]="user.username" disabled>
  </mat-form-field>

  <p class="m-0">Email:</p>
  <mat-form-field appearance="fill">
    <input class="profile-field" matInput [value]="user.email" disabled>
  </mat-form-field>

  <p class="m-0">Telefon:</p>
  <mat-form-field appearance="fill">
    <input class="profile-field" matInput [value]="user.phoneNumber" disabled>
  </mat-form-field>

  <div class="profile-actions">
    <button mat-stroked-button color="primary" (click)="changePassword()">
      Zmień hasło
    </button>
  </div>
</div>
